.vagrant

/extend/*
!/extend/README.md
!/extend/goteo-dev
!/extend/private-zones
!/extend/plugin-responsive
!/extend/invest-return

/vendor/
/public/assets/vendor/footable/releases/
/bower_components/
*.log
*.pid
.tmp
/var/*
!/var/logs
!/var/cache
!/var/data
!/var/php
/var/php/sess_*

phpunit.xml
/tests/build
.couscous